[submodule "external/ORB_SLAM3_PolyUMI"]
	path = external/ORB_SLAM3_PolyUMI
	url = https://github.com/cwoodhayes/ORB_SLAM3_PolyUMI.git
[submodule "external/franka_ros2"]
	path = external/franka_ros2
	url = https://github.com/frankarobotics/franka_ros2.git
[submodule "external/polyumi_diffusion_policy"]
	path = external/polyumi_diffusion_policy
	url = https://github.com/cwoodhayes/polyumi_diffusion_policy.git
[submodule "external/franka_gripper_control"]
	path = external/franka_gripper_control
	url = https://github.com/anunthramaswami2030/franka_gripper_control.git
[submodule "external/polyumi_vista_policy"]
	path = external/polyumi_vista_policy
	url = https://github.com/RiicK3d/polyumi_vista_policy.git
